.Secretary,
.ExecutiveDirector,
.Principal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 90vh;

}

.loader-wrapper {
  height: 100vh;
  display: grid;
  place-items: center;
}

.loader {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 10px solid orange;
  border-top-color: #002147;
  box-sizing: border-box;
  background: transparent;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  0% {
    transform: rotate(360deg);
  }
}